body{
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
}




/* Header */
main h1 {
    color: white;
    font-size: 2.5em;
    padding: 1em;
    margin: 0;
    margin-bottom: 2em;
    text-align: center;
    
}
main h2{
    text-align: center;
    margin-bottom: 5em;
}


/* Main */
#color_bacgraund{   
    background-image: linear-gradient(25deg, rgba(253,255,0,1) 0%, rgba(9,9,121,1) 70%);
    width: 100%;
    padding-bottom: 10em;
    border-radius: 0 0 20em 0;
    right: 0px;
    margin-bottom: 7em;
}

.main-text-img{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.main-text-img img{
    width: 30em;
    margin-top: 2em;
    margin-left: 2em;
}



.main-text-img p {
    color: white;
    width: 50%;
    font-size: 1.5em;
    margin-left: 2em;
    margin-top: 2em;
}



/* Selection  */
.text_box{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 2em;
    margin-bottom: 7em;
}
.mini-title{
    background-color: #ffffff;
    width: 20em;
    height: 10em;
    border-radius: 1em;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.596);
    display: flex;
    flex-direction: column;
    margin-bottom: 2em;
}


.img-backg{
    width: 5em;
    height: 5em;
    position: relative;
    margin-top: -20px;
    margin-left: 2em;
    background-image: linear-gradient(-45deg, rgba(253,255,0,1) 0%, rgba(9,9,121,1) 70%);
    border-radius: 400px;
}

.mini-title img{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 3em;
    height: 3em;
    margin-right: 1em;
}
.mini-title p{
    margin-left: 2em;
    width: 17em;
    font-weight: 500;
}




/* Footer */
footer{
    display: flex;
    flex-direction: column;
    bottom: 0;
    background-color: rgba(9,9,121,1);
    color: white;
    padding: 1em 0;
    
}

footer h1{
    margin-left: 2em;
}


footer img{
    width: 2em;
    height: 2em;
    margin-right: 1em;
}

.footer_contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.small_text{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.small_text img{
    width: 1em;
    height: 1em;
}

/* Adaptation */
@media (max-width: 950px){
    
    /* First selektion */

    .main-text-img img{
        width: 20em;
    }

    .main-text-img p {
        font-size: 1.2em;
        margin-left: 2em;
        margin-top: 2em;
    }

    /* sekond selektion */
    
    .text_box .mini-title{
        margin-bottom: 3em;
    }
    footer h1 {
        margin-left: 1em;
    }
    .footer_contact{
        flex-wrap: wrap;
        justify-content: start;
        margin-left: 2em;
    }
    
    .footer_contact div{
        margin-right: 2em;
    }


}


@media (max-width: 650px){
    
    /* First selektion */
    main h1 {
        font-size: 1.5em;
    }
    .main-text-img{
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .main-text-img img{
        width: 20em;
        margin-top: 2em;
        margin-left: 0em;
    }

    .main-text-img p {
        font-size: 1.5em;
        margin-left: 2em;
        margin-top: 2em;
    }
    /* Sekond Selektion  */

    .text_box .mini-title{
        margin-bottom: 3em;
    }

    /* footer */

    
    .footer_contact{
        flex-direction: column;
        margin-left: 2em;
    }
}

